@mixin sizes ($width, $height){
    width: $width;
    height: $height;
}

@mixin grid ($display, $grid-template-column, $grid-template-rows){
    display: $display;
    grid-template-columns: $grid-template-column;
    grid-template-rows: $grid-template-rows;
}

@mixin margin_padding ($margin, $padding){
    margin: $margin;
    padding: $padding;
}
    
