aside {
    margin: 15px;
    padding: 20px;
    display: flex;
  }
  
  aside .aside__img__paginas {
    width: 100%;
    height: 100%;
  }
  
  .aside__img__contacto {
    width: 750px;
    height: 600px;
  }