@import "./../utilities/mixins.scss";

aside {
  margin: 15px;
  padding: 20px;
  display: flex;
}

aside .aside__img__paginas {
  @include sizes (100%, 100%);
  
}

.aside__img__contacto {
  @include sizes (750px, auto);
  
}
