@import "./../utilities/variables";

body {
  margin: 0;
  background-color: $body_background-color;
  padding-bottom: 0;
  min-height: 100vh;
}

.body__subtitulo {
  margin: 0;
  background-color: $body_subtitulo_background-color;
  color: rgb(243, 210, 23);
  font-size: 50px;
  text-align: center;
}

.subtitulo__clientes {
  margin: 0;
}

body main .main__parrafos__paginas {
  font-size: 25px;
}
