@import "./../utilities/variables";
@import "./../utilities/social-network";

header {
  background-color: $header_background-color;
  border: $header_border-color;
  color: orange;
}

#header__titulo {
  font-size: 55px;
  text-align: center;
}

@media screen and (min-width: map-get($grid-breakpoints, "sm")) {
  #header__titulo {
    font-size: 2.8em;
  }
}
