.main__container {
  display: grid;
}

.main__container {
  padding: 15px;
  align-content: center;
}

main {
  margin: 15px;
  padding: 20px;
  background: #ffeccc;
}

.main__container__nosotros {
  display: grid;
}

.main__parrafo__nosotros {
  width: 100%;
  display: flex;
  text-align: justify;
  padding-top: 20px;
}

.main__parrafo__servicios {
  font-size: 18px;
}
