@import "./../utilities/mixins.scss";
@import "./../utilities/variables";

.lista__clientes__container {
  width: 400px;
  margin: 0 auto;
}

.lista__clientes__container li {
  list-style: none;
  padding: 10px;
}

@media screen and (max-width: map-get($grid-breakpoints, "sm")) {
  .subtitulo__clientes {
    font-size: 0.75em;
  }

  .lista__clientes__container {
    @include grid (grid, 100%, max-content);
    padding: 0;
  }

  .lista__clientes__container > ul {
    padding: 0;
  }

  .lista__clientes__container li {
    padding: 10px;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "sm")) {
  .subtitulo__clientes {
    font-size: 0.9em;
  }

  .lista__clientes__container {
    @include grid (grid, 100%, max-content);
    padding: 0;
  }

  .lista__clientes__container > ul {
    padding: 0;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "md")) {
  .lista__clientes__container {
    width: 100%;
    display: grid;
    padding: 0;
  }

  .lista__clientes__container > ul {
    @include grid (grid, 50% 50%, repeat(3, 1fr));
    grid-template-areas:
      "bayer siemens"
      "cromoion richmond"
      "fisher fisher";
    
  }

  .bayer {
    grid-area: bayer;
  }

  .siemens {
    grid-area: siemens;
  }

  .cromoion {
    grid-area: cromoion;
  }

  .richmond {
    grid-area: richmond;
  }

  .fisher {
    grid-area: fisher;
  }

  .lista__clientes__container > ul > li {
    display: flex;
    padding: 15px;
    justify-content: space-around;
  }

  .lista__clientes__container > ul > li > img {
    width: 80%;
    display: inline-block;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "lg")) {
  .lista__clientes__container > ul {
    @include grid (grid, repeat(3, 1fr), repeat(2, 1fr));
    grid-template-areas:
      "bayer siemens cromoion"
      " richmond fisher";    
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "xl")) {
  .lista__clientes__container > ul {
    @include grid (grid, repeat(3, 1fr), repeat(2, 1fr));
    grid-template-areas:
      "bayer siemens cromoion"
      " richmond fisher";    
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "xxl")) {
  .lista__clientes__container > ul {
    @include grid (grid, repeat(3, 1fr), repeat(2, 1fr));
    grid-template-areas:
      "bayer siemens cromoion"
      " richmond fisher";    
  }
}
