@import "./../utilities/mixins.scss";
@import "./../utilities/variables";

.main__parrafos__paginas{
  height: auto;
}

.form__formulario {
  justify-content: center;
}

#comentarios{
  height: auto;
  margin-bottom: 10px;
}

@media screen and (max-width: map-get($grid-breakpoints, "sm")) {
  .main__container__contacto {
    @include grid(grid, 100%, none);
    margin: 0;
  }

  .main__parrafos__paginas{
    height: max-content;
  }

  .form__formulario {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .form-label {
    font-size: 1em;
  }

  .aside__img__contacto {
    @include sizes(550px, 426px);
  }

  .container {
    max-width: 100%;
  }

  .footer__contacto {
    height: max-content;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "sm")) {
  .container {
    max-width: 100%;
  }

  .form-label {
    font-size: 1.3em;
  }

  .main__parrafos__paginas{
    height: auto;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "md")) {
  #header__titulo {
    margin: 32px;
    font-family: cursive;
    font-size: 3.2em;
  }

  .nav__menu__ul__li a {
    font-size: 1.5em;
  }

  .main__container__contacto {
    @include grid(grid, repeat(2, 1fr), 100%);
    margin: 0;
  }

  .form-label {
    font-size: 1em;
  }

  .main__parrafos__paginas {
    margin: 15px;
    height: auto;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "lg")) {
  #header__titulo {
    margin: 28px;
    font-family: cursive;
    font-size: 3.6em;
  }

  .nav__menu__ul__li a {
    font-size: 1.7em;
  }

  .main__parrafos__paginas{
    height: auto;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "xl")) {
  .form-label {
    font-size: 1.2em;
  }

  .main__parrafos__paginas {
    display: flex;
    height: auto;
    justify-content: space-around;
    align-items: center;
  }

  .nav__menu__ul__li a {
    font-size: 1.8em;
  }

  #header__titulo {
    margin: 26px;
    font-family: cursive;
    font-size: 3.8em;
  }

  .form-control {
    width: 450px;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "xxl")) {
  .form-label {
    font-size: 1.3em;
  }

  .main__parrafos__paginas {
    display: flex;
    height: auto;
    justify-content: space-around;
    align-items: center;
  }

  .nav__menu__ul__li a {
    font-size: 1.9em;
  }

  #header__titulo {
    margin: 26px;
    font-family: cursive;
    font-size: 3.9em;
  }

  .form-control {
    width: 450px;
  }

  #comentarios{
    height: auto;
  }
}
